.center {
    display: table;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.center-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (min-width: 800px) {
    .center-logo {
        width: 25%;
    }
}

@media screen and (min-width: 1400px) {
    .center-logo {
        width: 15%;
    }
}
